/WebAppName/DataFramework/PUCIT.AIMRL.WebAppName.DAL/obj
/WebAppName/DataFramework/PUCIT.AIMRL.WebAppName.DAL/bin
/WebAppName/DataFramework/PUCIT.AIMRL.WebAppName.Entities/obj
/WebAppName/DataFramework/PUCIT.AIMRL.WebAppName.Entities/bin
/WebAppName/Common/PUCIT.AIMRL.WebAppName.UI.Common/bin
/WebAppName/Common/PUCIT.AIMRL.WebAppName.UI.Common/obj
/WebAppName/MainApplication/PUCIT.AIMRL.WebAppName.MainApp/obj
/WebAppName/MainApplication/PUCIT.AIMRL.WebAppName.MainApp/bin
/WebAppName/MainApplication/PUCIT.AIMRL.WebAppName.MainApp/PUCIT.AIMRL.WebAppName.MainApp.csproj.user
/WebAppName/Common/PUCIT.AIMRL.Common/PUCIT.AIMRL.Common.csproj.user
/WebAppName/DataFramework/PUCIT.AIMRL.WebAppName.Entities/PUCIT.AIMRL.WebAppName.Entities.csproj.user
/WebAppName/Common/PUCIT.AIMRL.WebAppName.UI.Common/PUCIT.AIMRL.WebAppName.UI.Common.csproj.user
/WebAppName/MainApplication/PUCIT.AIMRL.WebAppName.MainApp/logs
/WebAppName/packages
/WebAppName/NotificationServer/PUCIT.AIMRL.NotificationEngine.DAL/bin
/WebAppName/NotificationServer/PUCIT.AIMRL.NotificationEngine.DAL/obj
/WebAppName/NotificationServer/PUCIT.AIMRL.NotificationEngine.Entities/bin
/WebAppName/NotificationServer/PUCIT.AIMRL.NotificationEngine.Entities/obj
/WebAppName/NotificationServer/PUCIT.AIMRL.NotificationServer/obj
/WebAppName/NotificationServer/PUCIT.AIMRL.NotificationServer/bin
/WebAppName/NotificationServer/PUCIT.AIMRL.NotificationServer/logs
